/* css for password genrator  */
/* css for password genrator  */
/* css for password genrator  */
/* css for password genrator  */
/* css for password genrator  */
.main{
     /* background-color:rgba(255, 2, 99, 0) ; */
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100%;
     width: 100%;
}

.containerBox{
     margin-top: 60px;
     height: 350px;
     width: 500px;
     padding: 25px;
     border-radius: 7px;
     background-color: #513c94de;
     color: whitesmoke;
     font-weight: 400;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
}
.chartorSection{
     padding: 20px 0px;
}
.section{
     display: flex;
     padding: 8px;
     justify-content: space-between;
}
#output{
     height: 30px;
     padding: 8px;
     border: none;
     border-radius: 6px;
     outline: none;
     box-shadow: 1px 2px 3px grey;
     width: 100%;
     background-color: rgb(255, 255, 255);
}
button{
     background-color: #313131;
     color: aliceblue;
     border: none;
     border-radius: 6px;
     outline: none;
     padding: 10px;
     font-size: 16px;
     font-weight: 400;
     cursor: pointer;
}
/* css for password genrator  */
/* css for password genrator  */
/* css for password genrator  */
/* css for password genrator  */
/* css for password genrator  */

.containerFirst{
     background-color: rgba(0, 47, 255, 0);
     height: 100vh;
}
.C1userContainer{
     display: grid;
     grid-template-columns: 3fr 2fr;
     height: 90%;
}
.C1leftsection{
     display: grid;
     grid-template-rows: 1fr 1fr;
}
.C1bottom , .C1rightSection{
     display: flex;
     justify-content: center ;
     align-items: center;
}
.sequrityCheck{
     display: flex;
     padding: 20px 20px;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 250px;
     width: 500px;
     /* padding: 25px; */
     border-radius: 7px;
     background-color: #513c94de;
}
.sequrityCheck:hover{
     cursor: cell;
}
.sequrityCheckContainer{
     color: whitesmoke;
     display: flex;
     /* padding: 2.5px 0; */
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: flex-end;
     width: 100%;
}
.sequritycheckTime{
     background-color: rgba(228, 32, 71, 0.849);
     width: 100px;
     border-radius: 10px;
     /* padding-right: 20px ; */
     padding: 2px 20px;
     margin: 3px;
     text-align: center;
}
.sequritycheckTime:hover{
     cursor: pointer;
}
.navContainer{
     height: 80%;
     width: 300px;
     border-radius: 7px;
     background-color: white;
     padding: 10px 20px;
}
.navContainer div{
     margin: 6px;
     text-align: center;
     color: whitesmoke;
     border-radius: 4px;
     background-color: #313131;
     padding: 8px 0 ;
}
.navContainer div:hover{
     cursor: pointer;
}