*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

body{
  height: 100vh;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(171,102,255,1) 0%, rgba(116,182,247,1) 90% );
  width: 100% ;
  font-size: 18px;
}
.signupOuerContainer{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.signupInnerContainer{
  background-color: rgba(255, 255, 255, 0.7);
  padding: 50px;
  border-radius: 7px;
  border: 1px solid white ;
}
.signupInputArea{
  display: grid;
  gap: 12px;
}
input{
  font-size: 18px;
  padding: 7px;
  outline: none;
}
button{
  width: 100%;
  border: none ;
  background-color: rgba(171,102,255,1);
  color: floralwhite ;
  font-weight: bolder ;
  margin: 17px 0;
  padding: 9px;
  border-radius: 5px ;
  font-size: 18px;
}
.center{
  display: flex ;
  justify-content: center ;
}
.signupInputArea p {
  text-align: center;
}
#userNamePara{
  font-size: 12px;
  color: red;
  padding-left: 10px;
  margin: 0;
  transform: translateY(-13px) translateX(35px);
  /* transform: translateX(40px); */
  /* text-align: left; */
  /* display: none; */
  position: absolute;
  /* top: -10px; */
}